html, body {
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: none;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: none;
  max-width: 100vw;
  position: relative;
}


.navbar h1{
  font-family: 'Biryani', sans-serif;
  margin: 15px 0;
  font-size: 2em;
  font-weight: normal;
  line-height: 0.8em;
}

small {
  font-size: 1.5em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h4 {
  font-size:0.75em;
  font-weight:normal;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/** Main **/
#main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

#mask {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background: rgba(100,149,237, 0.6);
  z-index: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

#main h1 {
  font-size: 6em;
}

#right-panel {
  margin: auto;
  padding: 1%;
  display: none;
  border-radius: 10px;
  float: right;
  overflow: scroll;
  height: 100%;
  width: auto;
  border-style: solid;
  border-color: #6ab47b;
  background: #ffffff;
}

/***BUTTON MENU***/
ul#button-menu {
  padding: 0;
}

ul#button-menu li {
  display: inline;
  margin: 1%;
}

/*** map canvas ***/
#map-canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

/** result list **/
#result-list {
  display: none;
  max-height: 100%;
  height: 100vh;
  width: 50vw;
  max-width: 50%;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 50px;
  background-color: red;

}


/****RIGHT PANEL ****/

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

      #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
        margin: 1%;
      }

      #map {
        margin-right: 400px;
      }

      #floating-panel {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }

      @media print {
        #map {
          height: 500px;
          margin: 0;
        }

        #right-panel {
          float: none;
          width: auto;
        }
      }

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 30px;
  color: #ccc;
}

span.customStyleSelectBox {
  font-size:11px;
  background-color: #f5f0de;
  color:#7c7c7c;
  padding:5px 7px;
  border:1px solid #e7dab0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px;
  line-height: 11px;
}

span.customStyleSelectBox.changed {
  background-color: #f0dea4;
  }

  #alert {
    visibility: hidden;
    display: none;
  }

/*.customStyleSelectBoxInner {
  background:url(images/arrow.gif) no-repeat center right;
 }*/


 /* info window */
/*#map-canvas {  //remove margin: 0
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}
#map-canvas img {
    max-width: none !important;
}
.gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
} */

#iw-container {
    margin-bottom: 10px;
}

#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #62b7b7;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
/*
.iw-title background-color: #48b5e9 (previous)

#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
} */
