body {
  font-family: 'Nunito', sans-serif;
}

h1{
  font-family: 'Biryani', sans-serif;
  margin: 15px 0;
  font-size: 2em;
  font-weight: normal;
  line-height: 0.8em;
}

small {
  font-size: 1.5em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

h4 {
  font-size:0.75em;
  font-weight:normal;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

span.customStyleSelectBox {
  font-size:11px;
  background-color: #f5f0de;
  color:#7c7c7c;
  padding:5px 7px;
  border:1px solid #e7dab0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px;
  line-height: 11px;
}

span.customStyleSelectBox.changed {
  background-color: #f0dea4;
  }

/*.customStyleSelectBoxInner {
  background:url(images/arrow.gif) no-repeat center right;
 }*/
